.hide {
    display: none;
}

span, 
h3 {
    font-size: 40px;
    font-weight: bold;
    color: rgb(255, 77, 101);
}

main h1 {
    color: black;
    font-weight: normal;
}

body hr {
    background-color: rgb(255, 77, 101);
}

body {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

div button.btn.btn-danger {
    margin: 10px;
}

.hsButtons {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

h4 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
    background-color: rgb(255, 77, 101);
    padding: 10px;
    width: 60%;
    margin-left: 20%;
}

table {
    margin-top: 0%;
    width: 60%;
    margin-left: 20%;
    border-style: solid;
    border: rgb(255, 77, 101);
    padding: 10px;
}